# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [19]:
number = 6
print(number)

6

In [21]:
number_float = 2.3

print(number_float)


number_float2 = 1.
print(type(number_float2))

2.3
<class 'float'>

In [24]:
num1 = 2
num2 = 5.7

result = num1 + num2
print(result)

result += 5
# result = result + 5
print(result)

7.7
12.7

##### Subtraction

In [27]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 3
print(result_diff)

3.7
0.7000000000000002

##### Multiplication

In [28]:
num3 = 5
num4 = 10
result_prod = num3 * num4
print(result_prod)

result_prod *=2
print(result_prod)

50
100

##### Division

In [30]:
result_div = num3/num4
print(result_div)

#will always be converted to float when dividing

result_div /=2
print(result_div)

0.5
0.25

##### Floor Division

In [31]:
result_floor = 5 // 2
print(result_floor)

2

##### Modulo

In [34]:
result_mod = 5%2
print(result_mod)

1

In [ ]:
amount_of_seconds = 330
no_of_min = amount_of_seconds//60
print(no_of_min)
seconds = amount_of_seconds % 60
print(seconds)

##### Exponential

In [37]:
square = 5 **2
print(square)

x=5
x**=2

print(square)

25
25

### String Input-Output

##### String Assignment

In [55]:
name = "Andre"
print(name)

name = 'Andre'
print(name)

greeting = "Welcome to class y'all"
print(greeting)
greeting = 'Welcome to class y\'all'
print(greeting)

convo = "He said \"Hello class\""
print(convo)

paragraph = "Hello \nWelcome to class \nThis is intro to Python"
print(paragraph)

multiline="""
    hey
look
at
        this
        wild
            string
"""
print(multiline)

Andre
Andre
Welcome to class y'all
Welcome to class y'all
He said "Hello class"
Hello
Welcome to class
This is intro to Python

    hey
look
at
        this
        wild
            string

##### print() <br>
<p>Don't forget about end=' '</p>

In [58]:
name = "Francisco"
print(name, " is awesome because he's a cowboy's fan!", "\nHe lives in texas", end = " ** ", sep="$$")
print('something else')

Francisco$$ is awesome because he's a cowboy's fan!$$
He lives in texas ** something else

##### String Concatenation

In [66]:
print(print("hey"))
first_name = "Sarah"
last_name = "Stodder" 
full_name = first_name + " " + last_name
print(full_name)
full_name += " is a great student"
print(full_name)

print(first_name[0:4])

print(first_name, last_name[::-1].title())

hey
None
Sarah Stodder
Sarah Stodder is a great student
Sara
Sarah Reddots

##### Type Conversion

In [70]:
num1 = 3
num2 = "4"

print(str(num1) + num2)
print(num1+int(num2))

type(num2)

int()
str()
list()
dict()
tuple()
set()
float()

int("Steve") #NO NO NO NOT IN MY HOUSE

34
7

str

##### input()

In [81]:

    
while True: 
    age = input("what is your age? ")
    if age.isdigit():
        age = int(age)
        break
    else:
        print('Give me an int you moron!')
    
print(age)
print(type(age))

what is your age? no
Give me an int you moron!
what is your age? 223
223
<class 'int'>

##### format()

In [87]:
age = int(input("What is your age? "))
result_string = 'You are {} years old and you are getting wiser!'.format(age)
print(result_string)

What is your age? 28
You are 28 years old and you are getting wiser!

##### Old Way (python 2)

In [89]:
age = "35"
result_str = 'You are %s years old and getting wiser' %age
print(result_string)

You are 28 years old and you are getting wiser!

In [83]:
###f-string

In [92]:
age = int(input("what is your age? "))
x = 123

result_string = f'you are {age} years old and getting wiser {x} ! ... !'
print(result_string)

what is your age? 28
you are 28 years old and getting wiser 123 ! ... !

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [97]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input ("What is the make of your car? ")
model = input("What is the model of your car? ")

print(f"Your car is a {year} {color} {make} {model}.")

What is the color of your car? blue
What is the year of your car? 1993
What is the make of your car? ford
What is the model of your car? mustang
Your car is a 1993 blue ford mustang.

### If Statements

In [98]:
5==5

True

In [109]:
print(bool(""))
print(bool("kfjahfhajkf"))
print(bool(0))
print(bool(1))
print(bool([]))
print(bool([1,2,3]))
print(5<2)
print(5<5)
print(5<=5)
print(7>5)
print(5==5)
print('test'=='test')
print('a'>'A')
print('a'<'A')

False
True
False
True
False
True
False
False
True
True
True
True
True
False

In [114]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

print("Start of the line")
if num1 == num2:
    print("Equal")
else:
    print("Not Equal")
#num1 is less than num2 print num1 is less than
if num1 < num2:
    print("num1 is less")
else:
    # num1 is greater than num2 print num1 is greater than
    print('num1 is more')

    
print("End of the line")

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

Start of the line
Not Equal
num1 is less
End of the line

In [115]:
# InLine if statements ! ! ! Ternary Operator

name = "John"
# If your name is john your age has to be 33 if not your age is 99

age = 33 if name == "John" else 99
print(age)

age=0
if name == "John":
    age = 33
elif name = "Steve":
    age = 77
else:
    age = 99
    
age = 33 if name == "John" else 77 if name == "Steve" else 99
print("The final age is", age)

33

##### 'is' keyword

In [116]:
# use the is keyword when checking for the same exact object.
# in this clas ONLY USE THIS to check against None... or learn how it works better

my_var = None
if my_var is None:
    print('you have no var')

you have no var

In [117]:
"asad" is "asda"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/xk/ljdhd1qj0z53qz4f3jmv4nw80000gn/T/ipykernel_46385/2164492260.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "asad" is "asda"

False

In [118]:
x = "as"
y = "as"

x is y

True

In [128]:
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1

#print(list3 is list2)
#print(list3 is list1)

if list1 == list2:
    print("list1 is equal to list3")
else:
    print("list1 is NOT equal to list2")

if list1 is list2:
    print("list1 is equal to list2")
else:
    print("list1 is NOT equal to list2")
    
if list1 == list3:
    print("list1 is equal to list3")
else:
    print("list1 is NOT equal to list3")
    
if list1 is list3:
    print("list1 is list3")
else:
    print("list1 is NOT list2")
    
list3.append(4)

print(list3)
print(list1)
print(list2)

list1 is equal to list3
list1 is NOT equal to list2
list1 is equal to list3
list1 is list3
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3]

##### 'in' keyword

In [130]:
#Membership Check
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print('a is not in here')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [134]:
var = input("Please type a word. ")
if 'p' not in var:
    print('p not in this')
else:
    print('ya boi')



var = "Hippo"

if 'p' not in var:
    print('p not in this')
else:
    print('ya boi')

Please type a word. dildo
p not in this
ya boi

In [135]:
print("p is in the name") if "p" in input("what is your name? ").lower() else print("p is not in the name")

what is your name? alex

'p is not in the name'

## Using 'and'/'or' with If Statements

In [137]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

In [138]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [140]:
print("n" in "punnier" or "i" in "punnier")

True

### Elif Statements

### Else Statements

In [2]:
# see above

### For Loops

In [143]:
# for [placeholder] in [iterable]
name = "Steven"

print('Yo Yo Yo')
for letter in name:
    print('*')
    print(letter)
    print('$')
print('Blah')

Yo Yo Yo
*
S
$
*
t
$
*
e
$
*
v
$
*
e
$
*
n
$
Blah

In [149]:
my_list = ["tacos", 123, 123.5, [3,4,5], {"key":"value"}]

for thing in my_list:
    print(type(thing))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>

In [159]:
print(my_list[3])

[3, 4, 5]

In [152]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [153]:
len([1,5,6])

3

In [155]:
list(range(len(my_list)))

[0, 1, 2, 3, 4]

In [162]:
# Access by Index
for index in range(len(my_list)):
    print(index)
    print(my_list[index])
    print(type(my_list[index]))

0
tacos
<class 'str'>
1
123
<class 'int'>
2
123.5
<class 'float'>
3
[3, 4, 5]
<class 'list'>
4
{'key': 'value'}
<class 'dict'>

In [163]:
# enumerate

list(enumerate(my_list))

[(0, 'tacos'), (1, 123), (2, 123.5), (3, [3, 4, 5]), (4, {'key': 'value'})]

In [164]:
tup = (5,6)
print(tup)
x, y = tup
print(x)
print(y)

(5, 6)
5
6

In [166]:
for index, obj in enumerate(my_list):
    print('at number ', index, 'we have:', obj)

at number  0 we have: tacos
at number  1 we have: 123
at number  2 we have: 123.5
at number  3 we have: [3, 4, 5]
at number  4 we have: {'key': 'value'}

##### Using 'in' keyword

In [3]:
# see above

##### Continue Statement

In [4]:
# will continue to next iteration

In [169]:
name = "Giovanni"
for letter in name:
    if letter.lower() == "n":
        print("You have an N")
        continue
        
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
You have an N
You have an N
We checked i

##### Break Statement

In [5]:
# will break out of current loop

In [170]:
name = "Giovanni"
for letter in name:
    if letter.lower() == "n":
        print("You have an N")
        break
        
    print(f"We checked {letter}")

We checked G
We checked i
We checked o
We checked v
We checked a
You have an N

##### Pass Statement

In [6]:
# mostly used as a placeholder, and will continue on same iteration

In [167]:
if True:
    pass
print('lafk')

lafk

##### Double For Loops

In [176]:
counter = 0
for i in range(5):
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total = {counter}')
    print()

i=0 j=0 total = 1
i=0 j=1 total = 2
i=0 j=2 total = 3
i=0 j=3 total = 4
i=0 j=4 total = 5

i=1 j=0 total = 6
i=1 j=1 total = 7
i=1 j=2 total = 8
i=1 j=3 total = 9
i=1 j=4 total = 10

i=2 j=0 total = 11
i=2 j=1 total = 12
i=2 j=2 total = 13
i=2 j=3 total = 14
i=2 j=4 total = 15

i=3 j=0 total = 16
i=3 j=1 total = 17
i=3 j=2 total = 18
i=3 j=3 total = 19
i=3 j=4 total = 20

i=4 j=0 total = 21
i=4 j=1 total = 22
i=4 j=2 total = 23
i=4 j=3 total = 24
i=4 j=4 total = 25

### While Loops

In [183]:
# while [boolean]:
    #code do while true

num = 0
while num <10:
    num+=1
    print(num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [ ]:
while True:
    print('hello')
    break

In [ ]:
while True:
    user_input = ("what do you want to do? quit or continue?" )
    if user_input.lower() == "quit":
        break
    if user_input.lower() == "continue":
        print("You said continue")
        continue
    print("That was not one of our choices ")

##### While & For Loops Used Together

In [184]:
num = 0
total = 0

while num < 5:
    print("while loop iteration: ", num)
    for i in range(5):
        total += 1
        print("for loop iteration: ", 1)
        
    
    num+=1

while loop iteration:  0
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
while loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
while loop iteration:  2
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
while loop iteration:  3
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
while loop iteration:  4
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1
for loop iteration:  1

### Built-In Functions

##### range()

##### len()

In [ ]:
len("aabb")
len([1,2,3,4])

In [186]:
dir(range)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

##### help()

In [185]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [187]:
num = 1
type(num)

int

In [188]:
isinstance(num, str)

False

In [189]:
isinstance(num, int)

True

##### abs()

In [190]:
# distance from 0

print(abs(-5))
print(abs(5))

5
5

In [ ]:
! - bang, exclamation point
# - pound sign, hash/hashtag, octothorpe
[] - brackets, square bracket
() - params, paranthesis l/r paran
{} - Braces, curly brackets, or squiggles
% - grapes, percent, mod
@ - at symbol
* = star, splat or asterick

<> - angle brackets / greater than / less than... Wakka/Wakka Wakka

### Try and Except

In [191]:
3/0

ZeroDivisionError: division by zero

In [194]:
try:
    int("Steve")
    print("It worked")
except ValueError:
    print("You broke it")
except ZeroDivisionError:
    print("Can't Divide by 0")
finally:
    print("Okay move along now")

You broke it
Okay move along now

In [195]:
nums = [1,2,3,4]
for num in nums:
    try:
        int(num/2)
        print("even")
    except:
        print("odd")

even
even
even
even

In [ ]:
raise ValueError("number can never be 157")

In [196]:
def divide(num1, num2):
    if num2 ==0:
        raise ZeroDivisionError('You hockeypuck you cant divide by zero')
    print(num1/num2)

### Lists

##### Declaring Lists

In [197]:
names = ["Gio", "Ola", "Sarah", "Shayne"]
print(names)

['Gio', 'Ola', 'Sarah', 'Shayne']

##### Indexing a List

In [217]:
print(names[1])

a_list = [1,2,3,["a","b","c"],4]
print(a_list[3])

print(a_list[3][1])

names[::-1]

Ola
['a', 'b', 'c']
b

['Shayne', 'Sarah', 'Ola', 'Gio']

##### .append()

In [221]:
names = ["Gio", "Ola", "Sarah", "Shayne"]
names.append("Alex")
print(names)

['Gio', 'Ola', 'Sarah', 'Shayne', 'Alex']

##### .insert()

In [227]:
names.insert(3, "Jody")
print(names)

['Gio', 'Ola', 'Sarah', 'Jody', 'Jody', 'Jody', 'Jody', 'Jody', 'Shayne']

##### .pop()

In [229]:
other_class=["tweedle dee", "tweetle dumb"]

other_class.append(names.pop())
print(names.pop())
print(names)
print(other_class)

Jody
['Gio', 'Ola', 'Sarah', 'Jody', 'Jody', 'Jody']
['tweedle dee', 'tweetle dumb', 'Jody']


##### .remove()

In [230]:
names

['Gio', 'Ola', 'Sarah', 'Jody', 'Jody', 'Jody']

In [231]:
names.remove("Sarah")
print(names)

['Gio', 'Ola', 'Jody', 'Jody', 'Jody']

In [ ]:
names = ['Gio', 'Ola', '', 'Jody', 'Jody']

##### del()

In [232]:
names
del names[2]
print(names)

['Gio', 'Ola', 'Jody', 'Jody']

In [234]:
# DO NOT REMOVE OR DEL IN A FOR LOOP!!!!!!!!!!

names = ["Gio","Ola","Sarah","Shayne"]

for i in range(len(names)):
    del names[i]
    
print(names)

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [235]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = l1 + l2

print(l3)

[1, 2, 3, 4, 5, 6]

In [236]:
l2.extend(l1)
l2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

In [ ]:
#

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [250]:
x = []
for i in range(1000):
    if i < 1000:
       x.append(i**3)
    if sum(x) > 4000:
        break
    print(x)
    
# To be honest I don't know how this works. I just kept increasing the range of the sum of x until it did what I wanted it to.

[0]
[0, 1]
[0, 1, 8]
[0, 1, 8, 27]
[0, 1, 8, 27, 64]
[0, 1, 8, 27, 64, 125]
[0, 1, 8, 27, 64, 125, 216]
[0, 1, 8, 27, 64, 125, 216, 343]
[0, 1, 8, 27, 64, 125, 216, 343, 512]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [251]:
for x in range(1, 100 + 1):
   if x > 1:
       for i in range(2, x):
           if (x % i) == 0:
               break
       else:
           print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [252]:
age = int(input("How old are you? "))
if age < 18:
    print('Kids')
if age > 18 and age < 65:
    print('Adults')
if age == 18 or age == 65:
    print('Adults')
elif age > 65:
    print('Seniors')

How old are you? 68
Seniors